
section > div.layer.back {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: auto;
    overflow: hidden;
}

section > div > img {
    height: 100vh;
    border: 1px ;
    border-color: red;
}

#anims
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;

}

section{
    height: 100vh;
}

canvas{
    overflow : scroll;
   }