#navbar {
    z-index: 5;
    position: fixed;
    top: -74px;
    width: 100%;
    transition: top 0.3s;
  }
  
  #navbar #logo {
    color: #f2f2f2;
    font-size: 30px;
    padding: 10px 10px;
  }
  #navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .line-container {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 50px;
    left: 0;
    width: 100vw;
    text-align: center;
    overflow: hidden;
  }
  
  svg {
    width: 100vw;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .two {
    font-size: 3em;
    position: relative;
    overflow: hidden;
  }
  
  section p {
    position: absolute;
    z-index: -1;
    color: blueviolet;
    top: 10%;
    left: 20%;
    white-space: nowrap;
    font-size: 4rem;
  }
  
  h2 {
    font-size: 1em;
    text-shadow: 0 0 10px #000;
  }
  
  h1 {
    font-size: 1.25em;
  }
  
  .three {
    background: url(../assets/winter.jpg);
    background-size: cover;
    overflow: hidden;
  }
  
  .four {
    background: url(../assets/mountain.jpg);
    background-size: cover;
    overflow: hidden;
  }
  
  .one,
  .two,
  .three,
  .four {
    height: 100vh;
    width: 100vw;
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
  }
  
  .icon {
    color: white;
    font-size: 1.5em;
    padding: 1.5rem 0.4rem 0.4rem 0.4rem;
  }
  
  .icon:hover {
    font-size: 2em;
    padding: 1rem 0.3rem 0.3rem 0.3rem;
  }
  
  footer p {
    text-align: center;
  }