.scroll-container{
	display: flex;
	justify-content: center;
}
#scroll {
	width: 60px;
	height: 60px;
	top: 80vh;
	border: 2px solid #333;
	border-radius: 50%;
	position: absolute;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	z-index: 5;
	display: flex;
	justify-content: center;
}

#scroll::before {
	content: '';
	position: fixed;
	top: 15px;
	left: 18px;
	width: 18px;
	height: 18px;
	border-left: 2px solid #333;
	border-bottom: 2px solid #333;
	transform: rotate(-45deg);
}

#scroll:hover { 
	background-color: #ddd;
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}